body{
	background-image: linear-gradient(to top left, #cc99ff 0%, #ffffff 100%);
	
}
#headpage{
	width: 960px;
	margin: 0 auto;
	border: 2px solid #8000ff;
	padding:1em;
	background-color:#ffffff;
	overflow: hidden;
}

#header{
	background-image: url("bismarck.jpg");
	background-repeat: no-repeat;
	height:160px;
	width:100%;
	position: relative;
	overflow: hidden;

}

#mainmenu{
	list-style: none;
	margin-left : -25px;


}

#mainmenu li{
	float:left;
	padding:7px;
	border-right:2px solid #f4f7fc;
}

#mainmenu a{
	color:#f4f7fc;
}

#header p{
	position:absolute;
	bottom:0px;
	left:0px;
	margin-left: 10px;
	text-align:left;
	color: #f4f7fc;
	font-size:10px;
}

#header a{
	color:#f4f7fc;
}

#sidebarlist{
	float:left;
	width:230px;
	height:100%;
	margin-top:-190px;
	border-right: 1px solid #bf00ff;

}

.logo{
	background-image: url("placeholder.png");
	background-repeat: no-repeat;
	height: 230px;
	width: 230px;
	background-position: center center;
	margin-top :-13px;

}

#sidebarlist h1{
	font-size: 21px;
	text-align: center;
	margin-top:-10px;
}


#sidebarlist h2{
	font-size : 16px;
	text-align: left;
	margin-top:-5px;
	margin-left:15px;

}

#sidebarlist li{
	list-style-type:square; 
}

#bodycontent{
	width: 960px;
	margin-top: 10px;
	margin-left: 255px;
	border: 1px solid #bf00ff;
	padding:1em;
	background-color:#ffffff;
	overflow: hidden;
}

.boxalprofile{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
	margin-bottom: 5px;
}

.boxaldefinition{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
	margin-bottom: 5px;
}

.tableEx1 td{
	text-align: center;
	text-decoration: underline;
}

.boxUI{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
}

.bodyintroduction h1{
	font-family: helvetica;
	border-bottom: 1px solid;
	font-size: 26px;
	position: relative;
	
}

.bodyintroduction h2{
	font-family: helvetica;
	background-color : #cc99ff;
	padding : 4px;
	font-size: 20px;
	margin-top:0px;
	position: relative;
}

.bodyintroduction p{
	font-family: sans-serif;
	text-align : justify;
	font-size : 15px;
	position: relative;
	
}
.bodyintroduction li{
	font-family: sans-serif;
	text-align : left;
	font-size : 14px;
	position: relative;
	
}

.boxUIlist ol{
	
}

.battledatatable table{
	border-collapse:collapse;
}

.battledatatable table,tr,td{
	border:1px solid black;
	padding :2px;
	margin-bottom: 3px;
}

#footer{
	text-align: center;
}




