/* WEBLEARN CSS */

body{
	background-image: linear-gradient(to top left, #cc99ff 0%, #ffffff 100%);


	
}
#headpage{
	width: 960px;
	margin-left: 255px;
	border: 2px solid #8000ff;
	padding:1em;
	background-color:#ffffff;
	overflow: hidden;
}

#header{
	background-image: url("bismarck.jpg");
	background-repeat: no-repeat;
	height:160px;
	width:100%;
	position: relative;
	overflow: hidden;

}

#mainmenu{
	list-style: none;
	margin-left : -25px;


}

#mainmenu li{
	float:left;
	padding:7px;
	border-right:2px solid #f4f7fc;
}

#mainmenu a{
	color:#f4f7fc;
}

#header p{
	position:absolute;
	bottom:0px;
	left:0px;
	margin-left: 10px;
	text-align:left;
	color: #f4f7fc;
	font-size:10px;
}

#header a{
	color:#f4f7fc;
}

#sidebarlist{
	float:left;
	width:230px;
	height:100%;
	margin-top:-190px;
	border-right: 1px solid #bf00ff;

}

.logo{
	background-image: url("placeholder.png");
	background-repeat: no-repeat;
	height: 230px;
	width: 230px;
	background-position: center center;
	margin-top :-13px;
}

#sidebarlist h1{
	font-size: 21px;
	text-align: center;
	margin-top:-10px;
}


#sidebarlist h2{
	font-size : 16px;
	text-align: left;
	margin-top:-5px;
	margin-left:15px;
	
}

#sidebarlist li{
	list-style-type:square; 
}
#sidebarlist a{
	color : #38004d;
}

#bodycontent{
	width: 960px;
	margin-top: 1em;
	margin-left: 255px;
	border: 2px solid #8000ff;
	padding:1em;
	background-color:#2e0b30;
	overflow: hidden;
}

}

.imgprofile{
	display:block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	border:2px solid #601593;
	border-radius: 7px;
	padding:4px;
}

.boxalprofile{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
	margin-bottom: 1em;
}

.boxaldefinition{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
	margin-bottom: 1em;

}

.tableEx1{
	margin-left: auto;
	margin-right: auto;
	
}

.tableEx1 td{
	text-align: center;
	text-decoration: underline;	
}


.boxUI{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
}

.bodyintroduction h1{
	font-family: helvetica;
	border-bottom: 1px solid;
	border-bottom color: #ffffff;
	font-size: 26px;
	color: #ffffff;
	position: relative;
	
}

.bodyintroduction h2{
	font-family: helvetica;
	background-color : #cc99ff;
	padding : 4px;
	font-size: 20px;
	margin-top:0px;
	position: relative;
}

.boxalprofile p{
	font-family: sans-serif;
	text-align : left;
	font-size : 16px;
	line-height: 1.4;
	position: relative;
}

.boxaldefinition p{
	font-family: sans-serif;
	text-align : left;
	font-size : 16px;
	line-height: 1.4;
	position: relative;
}

.boxaldefinition li{
	font-family: sans-serif;
	text-align : left;
	font-size : 16px;
	position: relative;
	margin-top: 8px;
	
}

.imgNode{
	box-sizing: border-box;
	border:2px solid #601593;
	border-radius: 7px;
	padding:4px;
}

.boxUI p{
	font-family: sans-serif;
	text-align : left;
	font-size : 16px;
	line-height: 1.4;
	position: relative;
}

.imgUI{
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	border:2px solid #601593;
	border-radius: 7px;
	padding:4px;
}

.UIlist ul{
	list-style-type: square;
}

.UIlist li{
	font-family: sans-serif;
	text-align : left;
	font-size : 16px;
	position: relative;
	margin-top: 8px;
}

.imgbattledata{
	box-sizing: border-box;
	border:2px solid #601593;
	border-radius: 7px;
	padding:4px;
	margin-top: 8px;
}

.imgEQ{
	box-sizing: border-box;
	border:2px solid #601593;
	border-radius: 7px;
	padding:4px;
	margin-top: 8px;
}

.imgliving{
	box-sizing: border-box;
	border:2px solid #601593;
	border-radius: 7px;
	padding:4px;
	margin-top: 8px;
}

.battledatatable table{
	border-collapse:collapse;
}

.battledatatable table,tr,td{
	border:1px solid black;
	padding :2px;
	margin-bottom: 3px;
	margin-top: 5px;
}

#footer{
	text-align: center;
}

/* DOCKYARD CSS */

.bodydockyard{
	width: 960px;
	padding:1em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border: 2px solid #8000ff;
	background-color:#2e0b30;
}

.bodydockyard table,tr,td{
	border:none;
}

.bodydockyard h1{
	font-family: helvetica;
	border-bottom: 1px solid;
	border-bottom color: #ffffff;
	font-size: 26px;
	color: #ffffff;
	position: relative;
}

.bodydockyard h2{
	font-family: helvetica;
	background-color : #cc99ff;
	padding : 4px;
	font-size: 20px;
	margin-top:0px;
	position: relative;
}

.bodydockyard p{
	font-family : sans-serif;
	text-align : left; 
	font-size: 16px;
	line-height: 1.4;
	position: relative;
}


.boxdockyarddef{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
}

.boxdockyardtype{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
	margin-top:8px;
}
.boxdockyardtype li{
	font-family: sans-serif;
	text-align : left;
	font-size : 16px;
	position: relative;
	margin-top: 8px;
}

.tableEx2{
	margin-right: auto;
	margin-left: auto;
	
}

.tableEx2 td{
	text-align: center;
	text-decoration: underline;
}

.imgDockyard{
	box-sizing: border-box;
	border:2px solid #601593;
	border-radius: 7px;
	padding:4px;
}

/* FLEET CSS */
.bodyfleet{
	width: 960px;
	padding:1em;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	border: 2px solid #8000ff;
	background-color:#2e0b30;
}

.bodyfleet h1{
	font-family: helvetica;
	border-bottom: 1px solid;
	border-bottom color: #ffffff;
	font-size: 26px;
	color: #ffffff;
	position: relative;
}

.bodyfleet h2{
	font-family: helvetica;
	background-color : #cc99ff;
	padding : 4px;
	font-size: 20px;
	margin-top:0px;
	position: relative;
}

.boxfleetdef{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
	margin-top:8px;
}

.boxquicktips{
	background-color: #ffe6ff;
	box-sizing: border-box;
	border-radius: 7px;
	border:1px solid #bf00ff;
	padding:4px;
	margin-top:8px;
}

.imgFleet{
	box-sizing: border-box;
	border:2px solid #601593;
	border-radius: 7px;
	padding:4px;
}


.tableuncap{
	margin-left: auto;
	margin-right: 20px;
	text-align: center;
}

.table34{
	margin-left: auto;
	margin-right: 45px;
	text-align: center;
}